body {
  color: $textColorBase;
  display: flex;
  flex-direction: column;
  font-family: $baseFont;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  padding: 1rem 0;
  -moz-osx-font-smoothing: grayscale;
  header {
    margin-top: 0;
  }
  main {
    margin-bottom: auto;
    margin-top: auto;
  }
  footer {
    margin-bottom: 0;
  }
}
a {
  color: $colorHighlightPrimary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
