$baseFont: 'Content-font', 'Roboto', sans-serif;;
$baseShadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0;
$textColorBase: rgb(59, 69, 78);
$textColorSubtle: rgb(107,119,130);
$bGColorBase: rgb(255, 255, 255);
$colorSubtle: rgb(230, 236, 241);
$colorExtraSubtle: rgb(245, 247, 249);
$colorHighlightPrimary: rgb(206,71,51);
$colorHighlightSecondary: rgb(56, 132, 255);
