<header class="app-header">
  <button
    class="app-header__mobile-nav-toggle"
    aria-label="Show Site Navigation"
    {{on "click" @toggleNavPrimary}}>
    <svg aria-hidden="true" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor">
      <g>
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </g>
    </svg>
  </button>
  <h2 class="app-header__heading"><LinkTo class="app-header__link" @route='index'>{{t 'site_name_technical'}}</LinkTo></h2>
</header>
