<AppHeader @toggleNavPrimary={{this.toggleNavPrimary}} />
<main class="with-sidebar">
  <AppNavPrimary
    @navPrimaryIsOpen={{this.navPrimaryIsOpen}}
    @toggleNavPrimary={{action this.toggleNavPrimary false}} />
  {{outlet}}
  <aside>
  </aside>
</main>
<AppFooter />
