<AppHeader @toggleNavPrimary={{this.toggleNavPrimary}} />
<main class="with-sidebar">
  <AppNavPrimary @navPrimaryIsOpen={{this.navPrimaryIsOpen}} />
  {{outlet}}
  <aside>
  </aside>
</main>
<AppFooter />
