<AppHeader @openNavPrimary={{this.openNavPrimary}} />
<main class="with-sidebar">
  <AppNavPrimary
    @navPrimaryIsOpen={{this.navPrimaryIsOpen}}
    @close={{this.closeNavPrimary}} />
  {{outlet}}
  <aside>
  </aside>
</main>
<AppFooter />
