<AppHeader />
<a href="#for-developers">Link</a>
<main class="with-sidebar">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptatem repudiandae at doloribus tempore, repellat, ab accusantium sit velit ipsam cupiditate maiores ad quae cum obcaecati sunt voluptatum dolore quibusdam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptatem repudiandae at doloribus tempore, repellat, ab accusantium sit velit ipsam cupiditate maiores ad quae cum obcaecati sunt voluptatum dolore quibusdam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptatem repudiandae at doloribus tempore, repellat, ab accusantium sit velit ipsam cupiditate maiores ad quae cum obcaecati sunt voluptatum dolore quibusdam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptatem repudiandae at doloribus tempore, repellat, ab accusantium sit velit ipsam cupiditate maiores ad quae cum obcaecati sunt voluptatum dolore quibusdam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptatem repudiandae at doloribus tempore, repellat, ab accusantium sit velit ipsam cupiditate maiores ad quae cum obcaecati sunt voluptatum dolore quibusdam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptatem repudiandae at doloribus tempore, repellat, ab accusantium sit velit ipsam cupiditate maiores ad quae cum obcaecati sunt voluptatum dolore quibusdam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptatem repudiandae at doloribus tempore, repellat, ab accusantium sit velit ipsam cupiditate maiores ad quae cum obcaecati sunt voluptatum dolore quibusdam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptatem repudiandae at doloribus tempore, repellat, ab accusantium sit velit ipsam cupiditate maiores ad quae cum obcaecati sunt voluptatum dolore quibusdam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptatem repudiandae at doloribus tempore, repellat, ab accusantium sit velit ipsam cupiditate maiores ad quae cum obcaecati sunt voluptatum dolore quibusdam.</p>
  {{outlet}}
  <aside>
  </aside>
  <LinkableHeader @linkTitle="For Developers"/>
</main>
<AppFooter />