<div class="main-content">
  <section class="main-content__primary">
    <header>
      <h2>{{this.model.title}}</h2>

    </header>
  </section>

 <section>
  <p>
    {{! template-lint-disable no-bare-strings }}
    Totam et ab eligendi libero numquam ratione quisquam. Nostrum nulla rem est sunt libero aut. In sit earum provident quis sit animi porro. Cum autem esse illum ex voluptatum dolore eaque.
  </p>

  <p>
    {{! template-lint-disable no-bare-strings }}
    Ad officiis omnis est. Sit explicabo nobis beatae quia. Sequi est accusantium ut hic nesciunt cumque aut.
  </p>
 </section>
</div>
